<!DOCTYPE html>
<html lang="vn">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>SocketIO</title>
    </head>
    <body>
        <h1>Test SocketIO</h1>
    </body>
    <script src="{{ url_for('static', filename='socket.io.js')  }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='app.js')  }}" charset="utf-8"></script>
</html>
